# [tag:gitignore] Keep this in sync with [ref:excluded_input_paths].
/artifacts/
/examples/rust/target/
/integration_tests/rust/target/
/integration_tests/typescript/dist/
/integration_tests/typescript/node_modules/
/integration_tests/typescript/src/types.ts
/target/
