# [tag:gitignore] Keep this in sync with [ref:excluded_input_paths].
/artifacts/
/examples/rust/target/
/examples/typescript/dist/
/examples/typescript/generated/
/examples/typescript/node_modules/
/benchmarks/rust/target/
/benchmarks/typescript/dist/
/benchmarks/typescript/generated/
/benchmarks/typescript/node_modules/
/integration_tests/rust/target/
/integration_tests/typescript-node/dist/
/integration_tests/typescript-node/generated/
/integration_tests/typescript-node/node_modules/
/integration_tests/typescript-web/dist/
/integration_tests/typescript-web/generated/
/integration_tests/typescript-web/node_modules/
/target/
